<div class="container">
  <div class="jumbotron" id="jumbotron">
<<<<<<< HEAD
  <h1>Signup</h1>

  <!-- Signup Form -->
  <form name="create-user" action="/signup" method="post">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="first_name">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="last_name">
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control" name="password">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email">
    </div>
    <button type="submit" class="btn btn-warning btn-lg">Signup</button>
  </form>
=======
    <!-- Signup Form -->
  <div class="row">
    <div class="col-sm-5">
      <h1>Login</h1>
      <form action="/login" method="post">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="login-fields" name="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="login-fields" name="password">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Login</button>
      </form>
    </div>

    <div class="col-sm-6" >
      <h1>Sign Up</h1>
      <form action="/signup" method="post">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="login-fields" name="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="login-fields" name="password">
        </div>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="login-fields" name="firstName">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="login-fields" name="password">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Sign up</button>
      </form>
    </div>
>>>>>>> Structure
</div>
</div>
