p {
  color: black;
}
h4 {
  color: black;
}
h1 {
  text-align: center;
}
h2{
    color:#FFFFFF;
    text-align:center;
}
.error_body p {
  text-align: center;
}
.circular--square{
    border-radius: 50%;
    width:400px;
    height:400px;
}
#profilePic{
    padding-top: 100;
}
.navbar-brand p {
  color: white;
}
li{
    color:#FFFFFF;
}
ul{
    text-align:center;
    display:table;
    margin:0 auto;
}
body{
   background-image:url(../images/blur.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: black;
}
.jumbotron{
	padding-top: 100px;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #eeeeee80;
}
.column-left{
	float: left;
	width: 33%;
}
.column-right{
	float: right;
	width: 33%;
}
.column-center{
	display: inline-block;
	width: 33%;
}
.login-fields{
	width:300px;
}
/*
.container{
	height:100%;
	width:100%;
	overflow:hidden;
	color: black;
	background-color: #87878790;
	padding: 0;
	margin: 0;
}*/
footer{
padding-left: 50%;
	background-color: #ffffff90;
}
#languages{
   color:white;
    size:20px;
}
#jumbotronn{
   margin-top: 200px;
}
.navbar{
    margin:0px;
}
hr {
display: block;
margin-before: 0.5em;
margin-after: 0.5em;
margin-start: 100;
margin-end: 100;
border-style: inset;
border-width: 1px;
}
