<div class="container">
  <div class="jumbotron" id="jumbotron">
 <!-- START of Form -->

 <div id="entire_form">
  <form class="form-horizontal" name="project_form" id="project_form">
    <fieldset>

<!-- Form Name -->
    <legend>Project Information</legend>

<!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" name="project_name" for="textinput">Project Name</label>
          <div class="col-md-8">
              <input id="textinput" name="textinput" type="text" placeholder="What's it called?" class="form-control input-md" required="">

          </div>
      </div>

      <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" name="github_link"for="textinput">GitHub Link</label>
          <div class="col-md-4">
              <input id="textinput" name="textinput" type="text" placeholder="Link your Repo here!" class="form-control input-md" required="">

          </div>
      </div>

                <!-- Select Multiple -->
                <div class="form-group" >
                    <label class="col-md-4 control-label" color="white" for="selectmultiple">Languages used</label>
                  <div class="col-md-4">
                    <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
                      <option value="1">C++</option>
                      <option value="2">HTML</option>
                      <option value="3">Javascript</option>
                      <option value="4">Java</option>
                      <option value="5">CSS</option>
                      <option value="6">Objective C</option>
                      <option value="7">Perl</option>
                    </select>
                  </div>
                </div>

    <!-- Textarea -->
          <div class="form-group">
              <label class="col-md-4 control-label" for="projectText">Project Description</label>
            <div class="col-md-4">
                <textarea class="form-control" id="projectText" name="projectText">Tell us about your project!</textarea>

            </div>
                <div class="col-md-4">
                    <button type="submit" id="post_button" class="btn btn-default">Submit</button>
                </div>

          </div>



        </fieldset>
</div>
</div>
</div>
