<link rel="stylesheet" type="text/css" href="../public/css/create.css">
<div class="container">
    <div class="jumbotron" id="jumbotron">
        <!-- START of Form -->
        <div id="entire_form">
            {{#if cur_user}}
            <form class="form-horizontal" name="project_form" id="project_form" action="/create" method="post">
                <!-- Form Name -->
                <h1>Project Information</h1>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Project Name</label>
                    <div class="col-md-8">
                        <input id="title" name="title" type="text" placeholder="Title" class="form-control input-md" required="">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">GitHub Link</label>
                    <div class="col-md-8">
                        <input id="link" name="link" type="text" placeholder="Link your Repo here!" class="form-control input-md" required="">

                    </div>
                </div>
                <!-- Select Multiple -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Languages used</label>
                    <div class="col-md-8">
                        <select id="lang" name="lang" class="form-control">
                      <option name="C++">C++</option>
                      <option name="HTML">HTML</option>
                      <option name="Javascript">Javascript</option>
                      <option name="Java">Java</option>
                      <option name="Objective C">Objective C</option>
                      <option name="Perl">Perl</option>
                      <option name="Python">Python</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Skill level</label>
                    <div class="col-md-8">
                        <select id="skill" name="skill" class="form-control">
                      <option name="Beginner">Beginner</option>
                      <option name="Intermediate">Intermediate</option>
                      <option name="Advanced">Advanced</option>
                    </select>
                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Project Description</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="desc" name="desc" placeholder="Tell us about your project!"></textarea>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" id="post_button" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        {{else}}
          <h3>Sorry you need to login first to create a post...</h3>
        {{/if}}
    </div>
</div>
