<div class="container">
  <div class="jumbotron" id="jumbotron">
    <h1>Account Info</h1>
    <h4>First Name</h4>
    <p>{{user.first_name}}</p>
    <h4>Last Name</h4>
    <p>{{user.last_name}}</p>
    <h4>Username</h4>
    <p>{{user.username}}</p>
    <h4>Email</h4>
    <p>{{email.username}}</p>
  </div>
</div>
