<link rel="stylesheet" type="text/css" href="../public/css/account.css">
<div class="container">
    <div class="jumbotron" id="jumbotron">
        <center><h1>Account Info</h1></center>
            <center><div class="image-circular">  <img src="http://pitchfork.com/features/cover-story/reader/daft-punk/images/pq1v2.jpg"/></div></center>
            <!-- Maybe add user ProfilePic ID to db - Use preset pictures? -->
             <h4>First Name</h4>
             <p>{{user.first_name}}</p>
             <br>
             <h4>Last Name</h4>
             <p>{{user.last_name}}</p>
             <br>
             <h4>Username</h4>
             <p>{{user.username}}</p>
             <br>
             <h4>Email</h4>
             <p>{{email.username}}</p>
    </div>

</div>
