<div class="container">
  <div class="jumbotron" id="jumbotron">
    <h1>Account Info</h1>
      <div class="circular-img">
       
          <img src=" USER ID goes here"/>
      </div>
      <center>
        <li>
      
     <ul></ul>  
            <ul>
            </ul>
            
            <ul>
             <button type="button" class="btn btn-default" id="changeProfile">1</button>
            </ul>
            
            <ul>
              <button type="button" class="btn btn-default" id="changeEmail">Change Email</button>
            </ul>
            
            <ul>
              <button type="button" class="btn btn-default" id="changePass">Change Password</button>
            </ul>
      
      
      
        </li>
      </center>      
      
      <p>Info</p>
  </div>
</div>
