<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
    </title>

    <!-- Scripts and Sheets -->
    <!-- Latest compiled and minified CSS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="../../public/vendor/font-awesome/css/font-awesome.min.css">
    <!-- End of Scripts and Sheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- NavBar and Properties -->
<div class="navbar navbar-inverse navbar-fixed-top">

    {{#if cur_user}}
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/homepage">Code_Collab</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/account">Account</a></li>
                    <li><a href="/posts">Browse</a></li>
                    <li><a href="/create">Create</a></li>
                </ul>
                <ul class="navbar navbar-nav navbar-right">
                    <button class="btn btn-default navbar-btn" id="logout"><a href="#">logout</a></button>
                    <p class="navbar-text">Welcome, <a href="/account" class="navbar-link"><b>{{cur_user.first_name}}</b></a></p>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    {{else}}

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="/homepage">Code_Collab</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar navbar-nav navbar-right">
                    <a href="/login"><button type="button"class="btn btn-default navbar-btn" id="login">login</button></a>
                    <a href="/signup"><button type="button"class="btn btn-default navbar-btn" id="signup">signup</button></a>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>

    {{/if}}
</div>
{{{ body }}}

<footer class="footer">
    <div class="footer">
          © 2016 Code_Collab.
          <a href="https://github.com/rodriguez10100/code_collab" class="w3-hover-text-gray"><i class="fa fa-github" style="font-size:20px"></i></a>
      </div>
</footer>

<!-- CODE FOR LOGOUT ONCE BUTTON IS ADDED
{{#if cur_user}}
    <script>
        ;
        (function() {
            $('#logout').click(function() {
                $.post("/logout", function() {
                    window.location.href = '/';
                });
            });
        })();
    </script>
{{/if}}
-->

{{#if cur_user}}
<script>
  ;(function() {
    $('#logout').click(function() {
      $.post("/logout", function() {
        window.location.href = '/';
      });
    });
  })();
  $(document).ready(function(){
$(".dropdown-toggle").dropdown();
});
</script>
{{/if}}
</html>
